@charset "UTF-8";

.item-wrap {
	max-width: 1280px;
	height: 600px;
	margin: 9% auto 4% auto;
}
.item-wrap .items { /* 자식들을 감싸고 있는 부모 */
	display: block;
	font-size: 0; /* 가장 중요한 font-size: 0; 속성 */
	margin: 0 -5px; /* 너비간 10px 간격을 만들기 위해 남은 5px을 양옆으로 땡겨줌 */
}
.item-wrap .items .item { /* 나란히 배치할 영역 */
	display: inline-block;
	width: 50%;
	padding: 0 5px; /* 간격을 위해 각 너비에 준 패딩 5px을 줌 */
	vertical-align: middle; /* 나란히 배치하는 와중에 수직정렬도 가운데로 하려고 준 속성 */
	box-sizing: border-box; /* width값이 오롯이 50%를 갖게 하기 위해 준 속성 */
}
.item-wrap .items .item .inner { /* 나란히 배치할 영역 안 텍스트를 감싼 div */
	font-size: initial; /* font-size: 0;을 하면 그 아래 자식들 모두 상속받기 때문에 텍스트가 있는 경우라면 꼭 줘야할 속성 */
	background: aliceblue; /* 간격과 영역을 보여주기 위한 속성 aliceblue */
}

.item-wrap .items .item .inner h2 { /* 가상선택자와 나란히 배치하기 위해 준 속성 */
	display: inline-block;
	vertical-align: middle;
}

.inner{
	height: 600px;
}

.formLabel{
	font-size: 13pt;
	margin-bottom: 10px;
	margin-top: 10px;
}

.find-form{
	padding: 50px;
}

.form-radio{
	font-size: 15pt;
	font-weight: bold;
}

.findID_radio{
	width: 20px;
	height: 20px;
	padding-right: 15px;
}

.findPW_radio{
	width: 20px;
	height: 20px;
}

#idByEmail, #pwByEmail{
	padding-right:10px;
}

#pwByPhone{
	margin-left: 20px;
	padding-right:10px;
}
#idByPhone{
	margin-left: 20px;
	padding-right:10px;
}

input[type=text] {
	padding-left: 10px;
	margin: 20px 0 10px 0;
	width: 100%;
	height: 60px;
}

input[type=email] {
	padding-left: 10px;
	margin-bottom: 20px;
	width: 100%;
	height: 60px;
}

input[type=number] {
	padding-left: 10px;
	margin-bottom: 20px;
	width: 100%;
	height: 60px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#login {
	border-radius:10px;
	margin-bottom: 40px;
	width: 100%;
	height: 60px;
	background-color: #06bbcc;
	border-color: #06bbcc;
	font-size: 15pt;
	color: white;
}

#submit {
	border-radius:10px;
	margin-bottom: 10px;
	width: 100%;
	height: 60px;
	background-color: #06bbcc;
	border-color: #06bbcc;
	font-size: 15pt;
	color: white;
}

#login:hover {
    background: #02444a; }

#submit:hover {
    background: #02444a; }