@charset "UTF-8";

/* 결과 DIV 밖의 배경이 되는 영역 */
.FindResult{
	max-width: 1280px;
	height: 600px;
	margin: 9% auto 4% auto;
}

/* 결과 DIV */
.ResultCard{
	width: 700px;
	height: 400px;
	background: aliceblue;
	padding: 50px 5px 20px 5px;
}

/* 찾기 완료 라벨 */
.LabelOfFind{
	font-size: 10pt;
	margin-left: 10%;
}

.ResultContent{
	margin: 10px 5px 30px 5px;
	height: 40px;
}

.ResultLabelInfo1{
	float: left;
    width:25%;
    box-sizing: border-box;
    margin-left: 10%;
    vertical-align: middle;
    height: 40px;
}

/* 결과(ID or PW) 라벨 */
.ResultLabel{
	font-size: 20pt;
	font-weight: bold;
	float: left;
	margin-left: 5%;
    width:25%;
    box-sizing: border-box;
    vertical-align: middle;
    color: #06bbcc;
}
.ResultLabelInfo2{
    float: right;
    width:25%;
    box-sizing: border-box;
    vertical-align: middle;
    height: 40px;
}

/* ID/PW 찾기 버튼 */
#findBtn{
	border-radius:10px;
	margin-bottom: 10px;
	width: 100%;
	height: 60px;
	background-color: #06bbcc;
	border-color: #06bbcc;
	font-size: 15pt;
	color: white;
}

/* 로그인 버튼 */
#resultBtn{
	border-radius:10px;
	margin-bottom: 40px;
	width: 100%;
	height: 60px;
	background-color: #06bbcc;
	border-color: #06bbcc;
	font-size: 15pt;
	color: white;
}

/* ID/PW 찾기 hover 색상 */
#findBtn:hover {
    background: #02444a; }

/* 로그인 hover 색상 */
#resultBtn:hover {
    background: #02444a; }
    
.title-img{
	width: 300px;
	align-items: right;
}

.title-letter{
	width: 300px;
	text-align: left;
}