@charset "UTF-8";

footer{

	overflow:hidden;
	width: 100%;

}

.wrap{

	min-height: 100vh;
}

.tour_list_view{
	float:left;
	width: 80%;
	text-align:center;
	padding: 30px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 60px;
}

.list_item{
	width: 25%;
	float: left;
	padding: 30px;
	text-align: center;
	height:230px;
	margin-bottom:40px;
	display: block;
    position: relative;
    overflow: hidden;

}
.list_item:hover{
	    box-shadow: 0 20px 20px 0 rgb(0 0 0 / 4%);
}

.list_item:hover .item_title{
	transition: all .4s ease;
	bottom:18px;
	
}

.tour_list_select_wrap{
	position: fixed;
 	width: 300px;
	margin-top: 180px;
 	text-align:right;
 	padding: 30px;
 	background-color: #f7f7f7;
 	top: 0;
 	right: -300px;
 	z-index: 5;
}

	
#sidebar > button {
	background:#333;
	position: absolute;
	top: 50px;
	right: 300px;
	width: 52px;
	height: 52px;
	border: none;
	
	color: white;
}

.tour_list_select{
	width: 100%;
	float: left;
	margin-bottom: 20px;

}

 .tour_list_select ul{
 	list-style: none;
}

.area_select{
	float:left;
	margin:3px;
	padding:4px;
	background-color: white;
	border: 1px solid white;
	border-radius: 15px;
	text-align: center;
}

.Gu_office{
	border-top: 1px solid #d8d8d8;
	float:left;
	width: 100%;


}

.Gu_office ul{
	margin-top:20px;
	list-style: none;
}

.gu_select{
	float:left;
	margin:3px;
	padding:4px;
	background-color: white;
	border: 1px solid white;
	border-radius: 15px;
	text-align: center;
}
.item_img{
	position: relative;
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    box-shadow: 1px 5px 10px rgb(0 0 0 / 10%);
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.item_title{
	position: absolute;
    left: 0px;
    right: 0;
	bottom:-20px;
    z-index: 1;
    box-sizing: border-box;
    margin: 0px 40px 0px 40px;
    width: auto;
    padding: 0px;
    background-color: white;
}

.list_title{
	margin-top:6px;
	font-size: 16px;
    font-weight: 500;
    line-height: 22px;

}


